<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.lx.practice.dao.ExamQuestionWestDao"><!-- parameterType传入的参数类型，resultType输出的参数类型 -->
      <!-- redis二级缓存 -->
     <!--  <cache  type="com.lx.practice.util.RedisCache" />  -->
      <!-- 根据选择的药学类型（药学专业知识一）随机从表中查询出条题型数据-->
       <select  id="findByWestEQ" parameterType="String"  resultType="ExamQuestion">
      		SELECT * FROM  exam_question  where  (questions_Type = '1' OR  questions_Type = '2')  and  knowledge_Id in(
			 select  knowledge_Id  from knowledge_info where parentId='c9f44130-5ea8-4c99-a9f2-b1da75fc21c6'		
			) ORDER BY RAND() LIMIT 5  
      </select>
       
       
       <!-- 根据选择的药学类型（药事管理与法规）随机从表中查询出条题型数据-->
       <select  id="findByWestFG" parameterType="String"  resultType="ExamQuestion">
			SELECT * FROM  exam_question  where  (questions_Type = '1' OR  questions_Type = '2')  and  knowledge_Id in(
			select  knowledge_Id  from knowledge_info where parentId='148ac965-7a16-4e59-ad28-554fc760afa7'		
			)ORDER BY RAND() LIMIT 5          	
       </select>
       
       
       <!-- 根据选择的药学类型（药学专业知识二）随机从表中查询出条题型数据-->
       <select  id="findByWestZE" parameterType="String"  resultType="ExamQuestion">
          	SELECT * FROM  exam_question  where (questions_Type = '1' OR  questions_Type = '2')  and knowledge_Id in(
			select  knowledge_Id  from knowledge_info where parentId='99286489-2d7e-4eaf-8ef2-ed8e6f2f5e31'		
			) ORDER BY RAND() LIMIT 5  
           
      </select>
       
       
       <!-- 根据选择的药学类型（药学综合知识与技能）随机从表中查询出条题型数据-->
       <select  id="findByWestZH" parameterType="String"  resultType="ExamQuestion">
			SELECT * FROM  exam_question  where  (questions_Type = '1' OR  questions_Type = '2')  and  knowledge_Id in(
			 select  knowledge_Id  from knowledge_info where parentId='0c1947d3-d248-4fa9-8fb8-36c786b1816b'		
			) ORDER BY RAND() LIMIT 5  
           
       </select>
       
        <!-- 章节精选 （药学专业知识一）-->
       <select  id="findYXY" parameterType="String"  resultType="ExamQuestion">
		    <!-- select * from knowledge_info where parentId='6823298d-7d84-4d11-bf2c-11cd67dc1588' -->
		    <!-- 因为sortCode字段在数据库中是以字符串的形式存储的，因此在查询时要在字段后面加一个0，这样查询出来的数据就是按顺序排列的 -->	
		      select * from knowledge_info where parentId='c9f44130-5ea8-4c99-a9f2-b1da75fc21c6'   ORDER BY sortCode+0  asc
       </select>
       <!-- 章节精选 （药学专业知识二）-->
       <select  id="findYXE" parameterType="String"  resultType="ExamQuestion">
		    <!-- select * from knowledge_info where parentId='c0ad3aca-eb96-42ba-872b-27cde5da996d' -->
		      select * from knowledge_info where parentId='99286489-2d7e-4eaf-8ef2-ed8e6f2f5e31'  ORDER  BY  sortCode+0  asc         
       </select>
       <!-- 章节精选 （药学综合知识与技能）-->
        <select  id="findYXZH" parameterType="String"  resultType="ExamQuestion">
		   <!--  select * from knowledge_info where parentId='64b67992-b30a-4c12-89f9-e2a2584d4176' -->
		    select * from knowledge_info where parentId='0c1947d3-d248-4fa9-8fb8-36c786b1816b'	 ORDER  BY  sortCode+0  asc       
       </select>
       
       <!--   查询出对应章节下的题目  -->
           <!-- 查询出所有科目下面的章节对应的题目 -->
        <select  id="findxyzuoti" parameterType="String"  resultType="ExamQuestion">
		   <!--  select * from knowledge_info where parentId='64b67992-b30a-4c12-89f9-e2a2584d4176' -->
		    select * from  exam_question  where  knowledge_Id  =  #{knowledge_Id}	         
       </select>
       
       
       
       
       
       
       
       
       
       
       
     <!--将题型数据添加进数据库中 -->
      <insert id="insertKnowledgeInfos"  parameterType="KnowledgeInfos">
           insert  into  knowledge_info(knowledge_Id,knowledge_Name)  
           values(#{knowledge_Id},#{knowledge_Name})
      </insert>
      
      
</mapper>